<!DOCTYPE html>
@inject SignInManager<IdentityUser> SignInManager
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />


    <!-- Custom styles for this template -->
    <link href="~/css/blog.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="/">Home</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a>@User.Identity.Name</a>
                    <a asp-action="Logout" asp-controller="Account">Logout</a>
                }
                else
                {
                    <a asp-action="Login" asp-controller="Account">Login</a>
                    <a asp-action="Register" asp-controller="Account">Register</a>

                }
            </nav>
        </div>
    </div>

    <div class="container">

        <div class="blog-header">
            <h1 class="blog-title">MediumClone</h1>
            <p class="lead blog-description">Asp.Net Core ile Medium Tarzı Örnek Site</p>
        </div>

        <div class="row">

            <div class="col-sm-8 blog-main">
                @RenderBody()
                

            </div><!-- /.blog-main -->
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->
    </div><!-- /.container -->

    <footer class="blog-footer">
        <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">mdo</a>.</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="~/js/bootstrap.js"></script>

</body>
</html>

