@model IEnumerable<Post>


@foreach (var item in Model)
{
    <div class="blog-post">
        <h2 class="blog-post-title">@item.title </h2>
        <p class="blog-post-meta">Yazar: <a href="#">@item.user</a></p>
        <h3>@item.content</h3>
    </div><!-- /.blog-post -->
}
